WHAT IS A SERIES.
A Series is a one dimensional Array, Basically rows of a single column.it is like a list but with more functionality.
A DataFrame is a two dimensional Array, meaning it contains rows and columns.it is like a dictionary("A Key Value Pair") but with more functionality.A dataframe is a container for| more series objects.

In [1]:
person = {
    "first": "Corey",
    "last": "Schafer",
    "email": "CoreyMSchafer@gmail.com",
}

In [2]:
people = {
    "first": ["Corey"],
    "last": ["Schafer"],
    "email": ["CoreyMSchafer@gmail.com"]
    
}

In [3]:
 people = {
     "first": ["Corey", "Jane", "John"],
     "last": ["Schafer", "Doe", "Dane"],
     "email": ["CoreyMSchafer@gmail.com", "JaneDoe@gmail.com", "JohnDane@gmail.com"]
 }

In [4]:
people["email"]

['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDane@gmail.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)#creats a dataFrame.

In [7]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John     Dane       JohnDane@gmail.com

In [8]:
df["email"] # or using dot notation df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
2         JohnDane@gmail.com
Name: email, dtype: object

In [9]:
type(df["email"])#checking if it is a series.

pandas.core.series.Series

In [10]:
df[["last", "email"]]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@gmail.com
2     Dane       JohnDane@gmail.com

In [11]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [12]:
df.iloc[[0, 1],2] #interger_location(iloc) for getting rows based on the index location

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
Name: email, dtype: object

In [13]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John     Dane       JohnDane@gmail.com

In [18]:
df[["last", "email"]]
# df.columns getting the total columns

Index(['first', 'last', 'email'], dtype='object')

In [22]:
df.iloc[0]#getting rows based on index
df.iloc[[0, 1]]#getting multiple rows.

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com

In [15]:
df.loc[[0,1],["email","last"]] #location for getting rows based on labels.

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@gmail.com      Doe

In [25]:
df.iloc[[0,1],1]#getting multiple rows with specified labels.

0    Schafer
1        Doe
Name: last, dtype: object

In [16]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John     Dane       JohnDane@gmail.com

In [26]:
df.loc[0] #xame for multiple rows with iloc.

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [28]:
df.loc[[0,1], ["email", "last"]]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@gmail.com      Doe