In [1]:
import pandas as pd
import numpy as np

In [2]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'],
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'],
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', "NA"],
    'age': [ '33', '55', '63', '36', None,None, 'Missing']
}

In [16]:
df = pd.DataFrame(people)

df.replace("NA", np.nan, inplace=True)
df.replace("Missing", np.nan, inplace=True) #replacing a value with Nan

In [25]:
df

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
4    NaN      NaN                      NaN  None
5   None      NaN      Anonymous@email.com  None
6    NaN      NaN                      NaN   NaN

In [26]:
df.dropna()

   first     last                    email age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33
1   Jane      Doe        JaneDoe@email.com  55
2   John      Doe        JohnDoe@email.com  63

In [27]:
df.dropna(axis="index", how="all", subset=["email","last"])
#axis can be set to index(for dropping rows) or columns(for columns) with missing values.
#how can be set to any(to drop if any row is missing a value) or all(to drop when a row is missing all values.)
#subset for dropping missing values in a particular column.

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
5   None      NaN      Anonymous@email.com  None

In [28]:
df.isna() #checking if values are Nan

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

In [29]:
df.fillna(0) #Masking  NaN values without another values.

   first     last                    email age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33
1   Jane      Doe        JaneDoe@email.com  55
2   John      Doe        JohnDoe@email.com  63
3  Chris  Schafer                        0  36
4      0        0                        0   0
5      0        0      Anonymous@email.com   0
6      0        0                        0   0

In [30]:
df.dtypes

first    object
last     object
email    object
age      object
dtype: object

In [31]:
df["age"].mean()

TypeError: can only concatenate str (not "int") to str

In [32]:
type(np.nan) #checking the type of NaN values which are float

float

In [34]:
df["age"] = df["age"].astype(float) #converting a series to a float.

In [35]:
df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [36]:
df["age"].mean()

46.75